@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: Dosis;
}
html, body, .container, #__next{
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.home{
  overflow: hidden;
}
.btn{
 filter: drop-shadow(0px 4px 4px #7109b760);
}
